/* RESET RULES & HELPER CLASSES
_________________________________________________ */

:root {
    --lightblue: #F6F9fC;
    --darkblue: #1e2958;
    --red: #d64041;
    --lightgreen: #8fcc9f;
}

a,
a:hover {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.bg-lightblue {
    background: var(--lightblue);
}

.bg-darkblue {
    background: var(--darkblue);
}

.bg-white {
    background: var(--white);
}

.bg-lightgreen {
    background: var(--lightgreen);
}

.btn-darkblue {
    background: var(--darkblue);
    color: white;
}

.btn-darkblue:hover {
    background: white;
    color: var(--darkblue);
    border-color: var(--darkblue);
}

.text-red {
    color: var(--red);
}

.text-darkblue {
    color: var(--darkblue);
}

.container-fluid-max {
    max-width: 1440px;
}

.cover {
    background: no-repeat center/cover;
}

.pb-10 {
    padding-bottom: 10px;
}

.header-text {
    font-family: 'Courgette', cursive;
    font-size: 40px;
}

h3 {
    padding: 0 0 1rem;

}

p, i {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-p {
    padding: 4.5em 0;
}

.section-m {
    margin: 0 1.5em;
}

/* HEADER
_________________________________________________ */

.page-header {
    background: var(--darkblue);
}

.btn-outline-primary {
    border-color: white;
    color: white;
}

.btn-outline-primary:hover {
    border: none;
    background: white;
    color: var(--darkblue);
}

.page-header .navbar {
    padding: 0.8rem 0;
}

.page-header .navbar-toggler {
    border-color: var(--white);
}

.brand-font {
    font-family: 'Mitr', sans-serif;
}

.logo-image {
    width: 40px;
    height: 40px;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: var(--white);
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: translateX(3px) rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    width: 0;
}

.navbar-toggler .bottom-bar {
    transform: translateX(3px) rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    width: 22px;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/* HERO
_________________________________________________ */

.hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
    height: 400px;
    background-color: var(--lightgreen);
    padding-top: 75px;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.1) 100%,
    );
}

.hero .container-fluid {
    z-index: 10;
}

/* WHY & HOW
_________________________________________________ */

.section-pic {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.section-pic img {
    position: absolute;
    max-height: 100%;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

hr {
    padding: 0 0 1rem;
}


/* WHAT
_________________________________________________ */

.h4 {
    padding-top: 1rem;
}

.icon-green {
    color: var(--lightgreen);
}

.services li {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}

/* DONE 
_________________________________________________ */

.card {
    margin-top: 2em;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    background-color: var(--lightgreen);
    height: 70px;
}

.card img {
    height: 180px;
    padding: 20px 0;
    object-fit: contain;
}

/* FOOTER
_________________________________________________ */

.page-footer .footer-child {
    text-align: center;
}

.social-icons {
    font-size: 26px;
    margin: 5px 10px 5px 0;
    color: black;
    text-decoration: none;
}

.social-icons a.fa-twitter:hover { 
    color: #1da1f2;
}

.social-icons a.fa-facebook-f:hover {
    color: #1877f2;
}

.social-icons a.fa-linkedin-in:hover {
    color: #007bb5;
}

.social-icons a.fa-instagram:hover {
    color: #c32aa3;
}

/* MEDIA QUERIES 
_________________________________________________ */

/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
    .page-header {
        background: var(--darkblue);
    }
    .btn-outline-primary {
        float: right;
    }

    .why-how h2 {
        padding-top: 1em;
    }

    .s-m-p {
        padding-top: 2em;
    }

}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {

    .hero {
        background-size: cover;
        height: 100%;
        overflow: hidden;
    }
}